:root {
  --c1: #3183be66;
  --c2: #fff3;
  --c3: #09f;
  --c4: #f0f0f0;
  --delete: #f20;
  --primary-spacing: 25px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url(https://images.pexels.com/photos/1019980/pexels-photo-1019980.jpeg?auto=compress&cs=tinysrgb&h=1250) center;
  background-size: cover;
  background-attachment: fixed;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  background: var(--c4);
}
pre {
  background: var(--c4);
}
.DOM-Maker-Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  padding: var(--primary-spacing) 0;
  height: 100vh;
  overflow: auto;
}
.DOM-Maker-Wrapper__title {
  margin: 0;
  font-family: sans-serif;
  opacity: 0.6;
  padding-left: var(--primary-spacing);
}
.get-DOM-Maker-Data {
  padding: 15px 30px;
  background: #f08802;
  color: #fff;
  margin: 6px var(--primary-spacing);
  position: sticky;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  right: 0;
}
.DOM-Maker-Wrapper > * {
  
}
button[DOMMaker] {
  padding: 15px 30px;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  margin:  0 var(--primary-spacing);
  margin-left: -1px;
}
button[DOMMaker],
[DOMMaker] b[contenteditable],
.get-DOM-Maker-Data {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.35s;
}
button[DOMMaker]:hover,
[DOMMaker] b[contenteditable]:hover,
.get-DOM-Maker-Data:hover {
  opacity: 1;
}
select[DOMMaker] {
  border: 0;
  font-size: 18px;
  padding: 10px 0;
  color: var(--c3);
  background: transparent;
}
select[DOMMaker],
input[DOMMaker],
button[DOMMaker] {
  max-height: 60px;
}
input[DOMMaker] {
  border: 0;
  background: transparent;
  color: var(--c1);
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin: 0 25px;
}
div[DOMMaker] {
  display: flex;
}
input[DOMMaker='boolean'] {
  display: inline-block;
  width: auto;
}
select[DOMMaker] * {
  font-size: 16px;
  color: var(--c3);
}
[DOMMakerTreeLevel='0'] {
  padding: 0 0 0 var(--primary-spacing);
}
[DOMMaker='string'] {
}
[DOMMaker='number'] {
}
[DOMMaker='object'] {
}
[DOMMaker='delete'] {
  color: var(--c4);
  background: var(--delete);
}
[DOMMaker='duplicate'] {
  background: var(--c1);
}
[DOMMaker='delete'],
[DOMMaker='duplicate'] {
  display: block;
}
[DOMMaker='array'] {
}
[DOMMaker='boolean'] {
  width: 0;
  height: 0;
  cursor: pointer;
  &:hover {
    color: var(--c3);
  }
}
[DOMMaker='boolean']::after {
  content: 'False';
  padding: 15px 0;
  display: block;
}
[DOMMaker='boolean']:checked::after {
  content: 'True';
}
[DOMMaker] b[contenteditable] {
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: var(--primary-spacing);
}
[DOMMaker] li {
  padding: var(--primary-spacing);
  margin: 50px 0 0;
  border: 0;
  box-shadow: 0 0 100px calc(var(--primary-spacing) * -1) var(--c1);
  display: grid;
}
[DOMMaker] li:nth-child(2n) {
}
[DOMMaker] b[contenteditable] {
  padding: 17px 0;
  margin-right: var(--primary-spacing);
}
[DOMMaker="object"] > li {
  grid-template-columns: 2fr 1fr 1fr 21fr;
}
[DOMMaker="array"] > li {
  grid-template-columns: 1fr 1fr 23fr;
}
[DOMMaker="object"] li li {
  margin-left: -338px;
}
[DOMMaker="array"] li li {
  margin-left: -273px;
}
[DOMMakerTreeLevel="1"] > [DOMMaker] > li {
  margin-left: -338px;
}
[DOMMaker] *:focus {
  outline: none;
  text-decoration: underline;
  color: var(--c3);
}
