:root {
  --c1: #010101;
  --c2: #f0f0f0;
  --c3: #0f0;
  --c4: #173;
  --primary-font: monospace;
  --delete: #f20;
  --primary-spacing: 25px;
  --background-image: url(https://images.pexels.com/photos/1019980/pexels-photo-1019980.jpeg?auto=compress&cs=tinysrgb&h=1250);
}
body * {
  box-sizing: border-box;
  font-family: monospace !important;
}
body {
  background: var(--c1);
}
ul,
ol {
  list-style: none;
  color: var(--c3);
}
.JSONData {
  color: var(--c1);
  background: var(--c2);
  width: 100%;
  height: 0;
  border: 0;
  padding: 0 25px;
  transition: 0.5s;
  position: fixed;
  bottom: 0;
  left: 0;
}
.JSONData:focus {
  height: 50vh;
  padding: 25px;
}
.JSONData:focus {
  height: 50vh;
  padding: 25px;
}
.JSONData-label {
  bottom: 0;
}
.get-DOM-Maker-Data {
  background: transparent;
  border: 0;
  top: 0;
}
.JSONData-label, .get-DOM-Maker-Data {
  color: var(--c3);
  text-shadow: 0 0 10px var(--c3);
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  position: fixed;
  margin: 5px 25px;
  cursor: pointer;
  right: 0;
}
.JSONData-label span, .get-DOM-Maker-Data span {
  transition: 0.25s;
  position: relative;
  left: 0;
}
.JSONData-label:focus span,
.JSONData-label:hover span,
.get-DOM-Maker-Data:focus span,
.get-DOM-Maker-Data:hover span {
  display: inline-block;
  left: 10px;
}
.JSONData-label:focus span,
.JSONData-label:hover span,
.get-DOM-Maker-Data:focus span,
.get-DOM-Maker-Data:hover span {
  display: inline-block;
  left: 10px;
}
li[DOMMakerTreeLevel] {
  padding: 5px 0;
}
div[DOMMaker] {
  padding-left: 44px;
}
button[DOMMaker] {
  color: var(--c3);
  background: transparent;
  border: 0;
  cursor: pointer;
}
button[DOMMaker]:hover,
input[DOMMaker]:hover,
b[contenteditable]:hover {
  text-decoration: underline;
}
select[DOMMaker] {
  color: var(--c4);
  background: transparent;
  border: 0;
}
select[DOMMaker] * {
  color: var(--c3);
}
input[DOMMaker] {
  color: var(--c4);
  background: transparent;
  border: 0;
  display: inline-block;
}
[DOMMaker] > p {
  display: none;
}
[DOMMaker="boolean"] {
  width: 0;
  cursor: pointer;
}
[DOMMaker="boolean"]::after {
  content: "False,";
}
[DOMMaker="boolean"]:checked::after {
  content: "True,";
}
[DOMMaker="string"]::before {
  content: "\"";
}
[DOMMaker="string"]::after {
  content: "\",";
}
[dommakertreelevel="0"] {
  padding-left: 0;
}
[DOMMaker="object"]::before {
  content: "{";
}
[DOMMaker="object"]::after {
  content: "}";
}
[DOMMaker="array"]::before {
  content: "[";
}
[DOMMaker="array"]::after {
  content: "]";
}
[DOMMaker] b[DOMMaker] {
  color: var(--c4);
}
[DOMMaker] b[contenteditable]::before {
  content: "\"";
}
[DOMMaker] b[contenteditable]::after {
  content: "\":";
}
[DOMMaker] b[DOMMaker]::before {
  content: "\"";
}
[DOMMaker] b[DOMMaker]::after {
  content: "\",";
}
